<div class="callout-container callout-container--blue-primary">
  <div class="callout__text-container text-white">
    <h3 class="callout__title">Ready To Get Started?</h3>
    <p class="callout__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
      voluptate tempora qui distinctio consequatur aliquid pariatur cupiditate
      quas cum fugit.
    </p>
  </div>
  <button
    class="btn btn--lg callout__button btn--blue-secondary border-transparent fw-600"
  >
    Get Started
  </button>
</div>
