<article class="card">
  <div class="card__header card__header--blue-secondary">
    <h3 class="card__title">Entry</h3>
    <span class="card__price">
      $14
      <sub class="text-size-2 opacity-8 mr-2"> /month </sub>
      <div class="badge badge--sm fw-600 mr-3 badge--blue-secondary">
        10 % Off
      </div>
      <p class="card__header-description">Easy start on the cloud</p>
    </span>
  </div>

  <div class="card__footer">
    <ul
      class="list text-blue-primary list--tick list--vertical ml-3 text-size-2"
    >
      <li class="list__item--tick py-4">Unlimited Websites</li>
      <li class="list__item--tick py-4">Unlimited Bandwidth</li>
      <li class="list__item--tick py-4">100 GB SSD Sotrage</li>
      <li class="list__item--tick py-4">3 GB RAM</li>
    </ul>
    <button class="btn btn--white w-100 fw-600">BUY NOW</button>
  </div>
</article>
