
<!--every toggler must have unique id and label-->
<div class="collapsible mt-5 list list--vertical">
  <input type="checkbox" id="toggler1" class="collapsible__toggler" />
  <label class="flex justify-content-space-between" for="toggler1">
    <h2 class="collapsible__title fw-600">Products</h2>
    <span
      class="collapsible__arrow collapsible__arrow--white align-self-flex-start mr-4"
    >
      ->
    </span>
  </label>

  <ul class="collapsible__items ml-0 pl-0">
    <li class="collapsible__item">
      <a class="collapsible__item__link" href="#">Website Hosting</a>
    </li>
    <li class="collapsible__item">
      <a class="collapsible__item__link" href="#">Free Automated Wordpress</a>
    </li>
    <li class="collapsible__item">
      <a class="collapsible__item__link" href="#">Migrations</a>
    </li>
  </ul>
</div>
