<section class="domain-block">
  <h2 class="domain-block__title">Starting at $10 per month</h2>
  <p class="domain-block__describtion">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
    exercitationem?
  </p>
  <form class="input-group input-group--shadow domain-block__input-group">
    <input
      type="text"
      name="domain"
      id="domain"
      placeholder="Enter a domain name here..."
      class="input w-100 input--border-0"
    />
    <button class="btn btn--orange border-transparent fw-600">
      <svg class="icon icon--sm icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </form>
  <ul class="domain-block__list justify-content-center ml-0 pl-0 fw-600">
    <li>
      <div class="badge fw-600 badge--blue-secondary">.com $9</div>
    </li>
    <li class="domain-block__list-item">.sg $10</li>
    <li class="domain-block__list-item">.space $11</li>
    <li class="domain-block__list-item">.info $14</li>
    <li class="domain-block__list-item">.net $10</li>
    <li class="domain-block__list-item">.xyz $10</li>
  </ul>
</section>
