<div class="footer-container">
  <footer class="footer">
    <div class="collapsible footer__collapsible mt-5 list list--vertical">
      <input type="checkbox" id="toggler1" class="collapsible__toggler" />
      <label
        class="flex my-4 justify-content-space-between align-items-center"
        for="toggler1"
      >
        <h2 class="collapsible__title fw-600">Products</h2>
        <span
          class="collapsible__arrow collapsible__arrow--white align-self-flex-start mr-4"
        >
          ->
        </span>
      </label>

      <ul class="collapsible__items ml-0 pl-0">
        <li class="collapsible__item">
          <a class="collapsible__item__link" href="#">Website Hosting</a>
        </li>
        <li class="collapsible__item">
          <a class="collapsible__item__link" href="#"
            >Free Automated Wordpress</a
          >
        </li>
        <li class="collapsible__item">
          <a class="collapsible__item__link" href="#">Migrations</a>
        </li>
      </ul>
    </div>
    <div class="collapsible footer__collapsible mt-5 list list--vertical">
      <input type="checkbox" id="toggler2" class="collapsible__toggler" />
      <label class="flex my-4 justify-content-space-between" for="toggler2">
        <h2 class="collapsible__title fw-600">Company</h2>
        <span
          class="collapsible__arrow collapsible__arrow--white align-self-flex-start mr-4"
        >
          ->
        </span>
      </label>

      <ul class="collapsible__items ml-0 pl-0">
        <li class="collapsible__item">
          <a class="collapsible__item__link" href="#">About</a>
        </li>
        <li class="collapsible__item">
          <a class="collapsible__item__link" href="#">Affiliates</a>
        </li>
        <li class="collapsible__item">
          <a class="collapsible__item__link" href="#">Blog</a>
        </li>
      </ul>
    </div>
    <div class="collapsible footer__collapsible mt-5 list list--vertical">
      <input type="checkbox" id="toggler3" class="collapsible__toggler" />
      <label class="flex my-4 justify-content-space-between" for="toggler3">
        <h2 class="collapsible__title fw-600">Support</h2>
        <span
          class="collapsible__arrow collapsible__arrow--white align-self-flex-start mr-4"
        >
          ->
        </span>
      </label>

      <ul class="collapsible__items ml-0 pl-0">
        <li class="collapsible__item">
          <a class="collapsible__item__link" href="#">Contact</a>
        </li>
        <li class="collapsible__item">
          <a class="collapsible__item__link" href="#">Knowledge Base</a>
        </li>
        <li class="collapsible__item">
          <a class="collapsible__item__link" href="#">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="collapsible footer__collapsible mt-5 list list--vertical">
      <input type="checkbox" id="toggler4" class="collapsible__toggler" />
      <label class="flex my-4 justify-content-space-between" for="toggler4">
        <h2 class="collapsible__title fw-600">DOMAINS</h2>
        <span
          class="collapsible__arrow collapsible__arrow--white align-self-flex-start mr-4"
        >
          ->
        </span>
      </label>

      <ul class="collapsible__items ml-0 pl-0">
        <li class="collapsible__item">
          <a class="collapsible__item__link" href="#">Domain Checker</a>
        </li>
        <li class="collapsible__item">
          <a class="collapsible__item__link" href="#">Domain Transfer</a>
        </li>
        <li class="collapsible__item">
          <a class="collapsible__item__link" href="#">Free Domain</a>
        </li>
      </ul>
    </div>
    <div class="footer__logo">
      <img class="footer__logo-image" src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2022 Ali Dabbagh</p>
    </div>
  </footer>
</div>
