<nav class="navbar navbar--bg-black">
  <input type="checkbox" id="navbar_toggler" class="navbar__toggler" />
  <div class="flex justify-content-space-between align-items-center">
    <img class="pl-4" width="150px" src="images/logo.svg" alt="Moshify logo" />
    <div class="icon-container navbar__toggler-image mr-1">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
    </div>
  </div>

  <ul class="navbar__items p-0 m-0">
    <li class="navbar__item border-grey">
      <a class="navbar__item__link" href="#">Hosting</a>
    </li>
    <li class="navbar__item border-grey">
      <a class="navbar__item__link" href="#">VPS</a>
    </li>
    <li class="navbar__item border-grey">
      <a class="navbar__item__link" href="#">Domain</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__item__link" href="#">Pricing</a>
    </li>
  </ul>
</nav>
