<section class="showcase-container">
  <h2 class="showcase__title">User Friendly Control Panel</h2>
  <div class="showcase">
    <div class="showcase__image-container">
      <picture>
        <source srcset="images/ipad.webp 1x,images/ipad@2x.webp 2x" />
        <source srcset="images/ipad.png 1x,images/ipad@2x.png 2x" />
        <img
          class="showcase__image"
          src="images/ipad.png"
          alt="showcase image"
        />
      </picture>
    </div>
    <div>
      <div class="media showcase__media">
        <div class="flex">
          <div class="icon-container align-self-flex-start mt-5">
            <svg class="icon icon--blue-primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>

          <div class="ml-4">
            <h3 class="media__title media__title--white">
              Easy Start & Managed Updates
            </h3>
            <p class="media__description media__description--gray">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
              quisquam, ex nostrum vero voluptates dicta excepturi vel
              perspiciatis consequuntur ab.
            </p>
          </div>
        </div>
      </div>
      <div class="media showcase__media">
        <div class="flex">
          <div class="icon-container align-self-flex-start mt-5">
            <svg class="icon icon--blue-primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>

          <div class="ml-4">
            <h3 class="media__title media__title--white">
              Staging, GIT & WP-CLI
            </h3>
            <p class="media__description media__description--gray">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
              quisquam, ex nostrum vero voluptates dicta excepturi vel
              perspiciatis consequuntur ab.
            </p>
          </div>
        </div>
      </div>
      <div class="media showcase__media">
        <div class="flex">
          <div class="icon-container align-self-flex-start mt-5">
            <svg class="icon icon--blue-primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>

          <div class="ml-4">
            <h3 class="media__title media__title--white">
              Dynamic Caching & More
            </h3>
            <p class="media__description media__description--gray">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
              quisquam, ex nostrum vero voluptates dicta excepturi vel
              perspiciatis consequuntur ab.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
