<section class="testimonial-block">
  <header class="testimonial-block__header">
    <h2 class="testimonial-block__title">What our Customers are Saying</h2>
    <p class="testimonial-block__describtion">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ipsam.
    </p>
  </header>
  <div class="px-5">
    <div class="testimonial border-transparent">
      <div class="testimonial__image-container">
        <img
          class="testimonial__image"
          src="images/testimonial.jpg"
          alt="testimonial image"
        />
        <div class="testimonial__icon-container icon--circle icon--bg-orange">
          <svg class="icon--sm icon--white">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
        </div>
      </div>
      <div class="quote">
        <q class="quote__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          optio officiis dolore earum error eaque perferendis laudantium sed
          praesentium dolorum.
        </q>
        <div class="flex mt-4 align-items-flex-start">
          <div class="icon-container">
            <svg class="icon icon--blue-primary">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="flex flex-column justify-content-flex-end">
            <h3 class="quote__author-name">John Smith</h3>
            <span class="quote__company-name"> ABC Company </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
